  <form action='//duckduckgo.com' id='google-search' class='inline-form'>
    <input
      type="text"
      name="q"
      value="site:{{@outletArgs.siteUrl}} {{@outletArgs.searchTerm}}"
      aria-label={{i18n "search.search_google"}}
    />
    <button class="btn btn-primary" type="submit">DuckDuckGo</button>
  </form>